.icon-page{
  width: 50px;
  height: 19.88px;
}

.purple-icon{
  width: 19.88px;
  height: 19.88px;
  background: #9C69E2;
  border-radius: 20px;
  margin-top: 15px;
  margin-right: 9px;
}

.pink-icon{
  width: 19.88px;
  height: 34.78px;
  background: #F063B8;
  border-radius: 20px;
}