.form-footer {
  top: 100%;
  border-top: 2px solid rgba(156, 105, 226, 0.2);
}

.footer-card{
  margin: 0px 240px;
  padding-top: 100px;
  padding-bottom: 120px;
}

.dark-color{
  color: #212353;
}

.max-width-250{
  max-width: 250px;
}

.fw0 {
  font-weight: 400;
}
.fw1 {
  font-weight: 500;
}
.fw2 {
  font-weight: 600;
}

.fw5 {
  font-weight: 900;
}

.fs0 {
  font-size: 12px;
}

.fs1 {
  font-size: 14px;
}

.fs2 {
  font-size: 16px;
}

.fs3 {
  font-size: 18px;
}

.fs4 {
  font-size: 20px;
}

.footer-avatar {
  width: 50.13px;
  height: 50.13px;
  background-color: #212353;
  opacity: 0.1;
}

.footer-chat {
  width: 60.16px;
  height: 60.16px;
  img{
    width: 100%;
    height: 100%;
  }
}