.header-card {
  margin: 0px 240px;
  padding-top: 50px;
  padding-bottom: 142px;
}

.header-button {
  width: 208.7px;
  height: 59.63px;
  background: #9C69E2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  align-items: center;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-btn-default:not(:disabled):hover{
  color: rgba(75, 93, 104, 1) !important;
  border-color: rgba(75, 93, 104, 1) !important;
}