body {
  padding: 0;
  margin: 0;
}

.home-background {
  background-color: #FFFFFF;
  height: 100vh;
  width: 100vw;
}

.home-card {
  height: 100%;
  margin: 0px 160px;
}

.body-card {
  margin: 0px 240px;
}

.body-text {
  font-family: 'Avenir';
  font-style: normal;
  color: #4B5D68;
}

.body-title {
  font-family: 'Helvetica';
  font-style: normal;
  color: #212353;
  font-weight: 700;
  font-size: 40px;
}